// General information box
.its123-alert {

  border-radius: $border-radius;
  padding: $alert-padding;
  margin-bottom: 10px;

  &.its123-info {
    p {
      color: $state-info-text;
    }
    background-color: $state-info-bg;
    border: 1px solid $state-info-border;
  }

  &.its123-error {
    p {
      color: $state-error-text;
    }
    border: 1px solid $state-error-border;
    background-color: $state-error-bg;
  }
}
